@model NTLBookStore.Models.Book


@{
    ViewData["Title"] = $"{Model.Title}";
}

<h1>@Model.Title</h1>

<div class="row">
    <div class="col-3">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            @* <div class="carousel-indicators"> *@
            @*     <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> *@
            @*     <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> *@
            @*     <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> *@
            @* </div> *@
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Model.Image?.Href" class="d-block w-100" alt="@Model.Title">
                </div>
            </div>
            @* <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"> *@
            @*     <span class="carousel-control-prev-icon" aria-hidden="true"></span> *@
            @*     <span class="visually-hidden">Previous</span> *@
            @* </button> *@
            @* <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> *@
            @*     <span class="carousel-control-next-icon" aria-hidden="true"></span> *@
            @*     <span class="visually-hidden">Next</span> *@
            @* </button> *@
        </div>
    </div>
    <div class="col-9">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Page)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Page)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Store)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Store.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            
        </dl>
        <div class="detail_button">
            @if (User.IsInRole(Roles.User))
            {
                <button id="addToCartBtn" class="btn btn-primary" onclick="addItem(@Model.Id, 1)">Add to Cart</button>
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            }
             @if (User.IsInRole(Roles.StoreOwner))
            {
                <a asp-action="Index">Back to List</a>
            }
             @if (User.IsInRole(Roles.Admin))
            {
                <a asp-action="Index">Back to List</a>
            }
            <br />
            
        </div>
    </div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">@Model.Store.Name</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Successfully added to cart.
        </div>
    </div>
</div>

@*--------------Style--------------*@

<style>
    .detail_button button{
        border-radius: 50px;
        padding: 6px 10px 6px 10px;
        background-color: limegreen;
        border-color: limegreen;
    }
    
    .detail_button a{
        border-radius: 50px;
        padding: 6px 10px 6px 10px;
        background-color: #ff8000;
        border-color: #ff8000;
        color: white;
        text-decoration: none;
    }
    
    .pb-3 {
      padding-left: 16px;
      text-align: left;
    }
</style>





@*--------------JavaScripts--------------*@
@section Scripts {
    <script src="~/js/cart.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var toastTrigger = document.getElementById('addToCartBtn')
        var toastLiveExample = document.getElementById('liveToast')
        if (toastTrigger) {
            toastTrigger.addEventListener('click', function () {
                var toast = new bootstrap.Toast(toastLiveExample)

                toast.show()
            })
        }
    </script>
}


