@model IEnumerable<NTLBookStore.Models.Book>


@{
    ViewData["Title"] = "Index";
}

<h1>List of books</h1>
<div class="create_new_book_button">
    <a class="btn btn-primary" asp-action="Create">Create new book</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<style>
    .create_new_book_button {
    padding-bottom: 15px;
    }
    .create_new_book_button a{
        border-radius: 50px;
        padding: 6px 10px 6px 10px;
        background-color: limegreen;
        border-color: limegreen;
        color: white;
        text-decoration: none;
    }
    
    .pb-3 {
      padding-left: 16px;
      text-align: left;
    }
</style>
