@model IEnumerable<NTLBookStore.Models.CartItem>

@{
    ViewData["Title"] = "Index";
    Layout = "_layout";
}

<h1>Cart</h1>

<div class="checkout_button">
    <a asp-action="Checkout" class="btn btn-primary">Checkout</a>
</div>
<table class="table">
    <thead>
        <tr>

            <th>
                Book Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Price)
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a asp-action="Details" asp-controller="Books" asp-route-id="@item.BookId" class="text-decoration-none text-black">
                        @Html.DisplayFor(modelItem => item.Book.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Price)
                </td>
                <td>
                    $@(item.Book.Price * item.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .checkout_button a{
            border-radius: 50px;
            padding: 6px 10px 6px 10px;
            background-color: limegreen;
            border-color: limegreen;
    }
        
</style>
