@page
@model RegisterModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>

@*<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
                       <hr />
                       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       <div class="form-floating">
                           <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                           <label asp-for="Input.Email"></label>
                           <span asp-validation-for="Input.Email" class="text-danger"></span>
                       </div>
                       <div class="form-floating">
                           <input asp-for="Input.FullName" class="form-control" aria-required="true" />
                           <label asp-for="Input.FullName"></label>
                           <span asp-validation-for="Input.FullName" class="text-danger"></span>
                       </div>
                       <div class="form-floating">
                           <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                           <label asp-for="Input.Password"></label>
                           <span asp-validation-for="Input.Password" class="text-danger"></span>
                       </div>
                       <div class="form-floating">
                           <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                           <label asp-for="Input.ConfirmPassword"></label>
                           <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                       </div>
                       <div class="form-floating">
                           <input asp-for="Input.HomeAddress" class="form-control" aria-required="true" />
                           <label asp-for="Input.HomeAddress"></label>
                           <span asp-validation-for="Input.HomeAddress" class="text-danger"></span>
                       </div>
                       <div class="form-floating">
                           <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
                           <label asp-for="Input.PhoneNumber"></label>
                           <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                       </div>
                       
                       <div class="form-floating">
                           <select asp-for="Input.Role" asp-items="Model.Input.Roles" class="form-select" aria-required="true">
                               <option></option>
                           </select>
                           <label asp-for="Input.Role"></label>
                           <span asp-validation-for="Input.Role" class="text-danger"></span>
                       </div>
                       <div class="register_button">
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>  
                       </div>
            
                   </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@



<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.Email"></label>
                                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.FullName"></label>
                                            <input asp-for="Input.FullName" class="form-control" aria-required="true"/>
                                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.Password"></label>
                                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.ConfirmPassword"></label>
                                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.HomeAddress"></label>
                                            <input asp-for="Input.HomeAddress" class="form-control" aria-required="true"/>
                                            <span asp-validation-for="Input.HomeAddress" class="text-danger"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                                    <label asp-for="Input.PhoneNumber"></label>
                                            <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true"/>
                                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.Role"></label>
                                            <select asp-for="Input.Role" asp-items="Model.Input.Roles" class="form-select" aria-required="true">
                                                <option></option>
                                            </select>
                                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                                        </div>
                                    </div>
                             
                                    <div class="register_button">
                                         <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>  
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://img.freepik.com/free-vector/young-man-sitting-armchair-reading-book_74855-6151.jpg?w=996&t=st=1682244779~exp=1682245379~hmac=35630e179831dc373e6db1034c106ef65e0636b9895b6947270d800d42a012c2"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<style>
    .register_button{
    padding-top: 15px;
    }
    .register_button button{
                border-radius: 50px;
                padding: 6px 10px 6px 10px;
                background-color: limegreen;
                border-color: limegreen;
                color: white;
                text-decoration: none;
            }        
        
        .pb-3 {
              padding-left: 16px;
              text-align: left;
            }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
